extends ./layout/commom.pug
block content
  .create
    h2 Create a new user
    a(href="/home" class='btn btn-primary') Get Back
    if errors
      each err in errors
        .alert.alert-danger.errorfill= err
    form(class="form", method="POST", enctype="multipart/form-data")
      .form-group
        label(for='exampleInputEmail1') Name
        input#exampleInputEmail1.form-control(type='text', name="name", value = values ? values.name : '')
      .form-group
        label(for='exampleInputPassword1') Age
        input#exampleInputPassword1.form-control(type='text', name="age", value=values ? values.age : '')
      .form-group
        label(for='avatar') Avatar
        input#avatar.form-control-file(type='file', name="avatar")  
      button.btn.btn-primary(type='submit') Submit
